* {
    font-family: 'Fira Sans', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    transition: 0.3ms ease-in-out;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.up-button {
    position: fixed;
    display: inline-block;
    right: 10px;
    bottom: 5rem;

    img {
        width: 50px;
        opacity: 50%;

        &:hover {
            opacity: 100%;
        }

        &:active {
            opacity: 90%;
        }
    }
}

.home-button {
    position: fixed;
    display: inline-block;
    right: 10px;
    bottom: 9rem;

    img {
        width: 50px;
        opacity: 50%;

        &:hover {
            opacity: 100%;
        }

        &:active {
            opacity: 90%;
        }
    }
}

.sections-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}