.about-section {

    .container {
        padding: 20px;

        @media screen and (max-width: 900px) {
            & {
                padding: 15px 20px;
            }
        }

        @media screen and (max-width: 700px) {
            & {
                padding: 10px 20px;
            }
        }
    }

    .heading {
        color: $navyBlue;
        text-align: center;
        font-weight: 700;
        font-size: 35px;
        margin-bottom: 20px;

        @media screen and (max-width: 900px) {
            & {
                font-size: 30px;
                margin-bottom: 7px;
            }
        }

        @media screen and (max-width: 700px) {
            & {
                font-size: 25px;
                margin-bottom: 5px;
            }
        }
    }

    .about-section__wrapper {
        display: flex;
        align-items: center;
        gap: 30px;

        .description-list {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: center;
            gap: 20px;

            li {
                width: 100%;
                color: rgb(41, 39, 39);
                font-weight: 500;
                font-size: 18px;

                &:first-child,
                &:nth-last-child(2) {
                    font-size: 20px;
                }

                span,
                a {
                    color: $darkYellow;
                }

                a:hover {
                    opacity: 70%;
                }

                i {
                    color: rgba(45, 44, 44, 0.957);
                    font-size: 16px;
                }

                .white-logo {
                    max-width: 150px;
                    width: 100%;
                    display: block;
                    margin: 0 auto;
                }
            }

            @media screen and (max-width: 1000px) {
                & {
                    gap: 10px;

                    li {

                        &:first-child,
                        &:nth-last-child(2) {
                            font-size: 18px;
                        }

                        font-size: 16px;

                        i {
                            font-size: 14px;
                        }
                    }
                }
            }
        }

        .chemistry-img {
            max-width: 500px;
            width: 100%;
            object-fit: cover;

            @media screen and (max-width: 1000px) {
                & {
                    max-width: 100%;
                }
            }
        }

        @media screen and (max-width: 1000px) {
            & {
                flex-direction: column;
                gap: 0px;
            }
        }
    }
}