.single-product-section {

    .container {
        padding: 20px;

        @media screen and (max-width: 900px) {
            & {
                padding: 15px 20px;
            }
        }

        @media screen and (max-width: 700px) {
            & {
                padding: 10px 20px;
            }
        }

        .single-product__description {
            margin-bottom: 10px;

            h2 {
                font-weight: 700;
                font-size: 35px;
                padding-bottom: 5px;
                margin-bottom: 20px;
                border-bottom: 1px solid #666;

                span {
                    color: $darkYellow;
                }

                @media screen and (max-width: 900px) {
                    & {
                        font-size: 30px;
                        margin-bottom: 10px;
                    }
                }

                @media screen and (max-width: 700px) {
                    & {
                        font-size: 25px;
                    }
                }
            }

            .description__list {
                h4 {
                    color: $navyBlue;
                    font-size: 20px;
                    margin-bottom: 10px;
                }

                p {
                    color: #666;
                    margin-bottom: 8px;
                }
            }

            .product-price,
            .made-in {
                font-size: 20px;
                margin-bottom: 10px;

                span {
                    color: $darkYellow;
                }
            }

            .location {
                display: flex;
                align-items: center;
                gap: 5px;
                font-size: 20px;

                span {
                    color: $darkYellow;
                }
            }
        }

        .single-product__imgs-wrapper {
            width: 100%;
            padding: 10px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: stretch;
            gap: 20px;
            background-color: #b7d5f733;
            border: 2px solid $navyBlue;
            border-radius: 17px;

            @media screen and (max-width: 700px) {
                & {
                    row-gap: 10px;
                }
            }

            .single-product-img {
                cursor: pointer;
                max-width: 350px;
                width: 100%;
                object-fit: cover;
                border-radius: 17px;
            }
        }
    }

    .scale-img-wrapper {
        display: none;
        position: fixed;
        justify-content: center;
        align-items: center;
        padding: 10px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(20, 19, 19, 0.856);

        img {
            max-width: 550px;
            width: 100%;
            object-fit: contain;
            margin: 0px 10px;
        }

        span {
            cursor: pointer;
            display: inline-block;
            padding: 10px 20px;
            background-color: crimson;
            color: aliceblue;
            border: 2px solid aliceblue;
            border-radius: 10px;

            &:hover {
                opacity: 90%;
            }

            &:active {
                opacity: 50%;
            }
        }

        @media screen and (max-width: 750px) {
            .prev-btn {
                position: absolute;
                bottom: 15%;
                left: 20px;
            }

            .next-btn {
                position: absolute;
                bottom: 15%;
                right: 20px;
            }
        }

        .close-imgs-wrapper {
            cursor: pointer;
            position: absolute;
            top: 10%;
            right: 10%;
            border-style: none;
            padding: 13px 22px;
            font-size: large;
            font-weight: 700;
            color: aliceblue;
            background-color: crimson;
            border: 2px solid aliceblue;
            border-radius: 18px;

            &:hover {
                opacity: 80%;
            }

            &:active {
                opacity: 50%;
            }
        }
    }
}